        <h1>Privacy Policy</h1>
        <section>
            <p>Welcome to our wonderland of privacy! We take your privacy as seriously as a clown.
                <!-- <img title="clown" src="/../partials/qucmri01jgm31.webp" alt="Clown"> -->
            </p>
            <h3>What We Collect:</h3>
            <ul>
                <li>Cookies: Not the tasty kind, but little bits of data to keep our site running smoothly.</li>
                <li>Emails: We do be snatching it.</li>
                <li>Personal Info: what <i>even</i> is personal, HAH!</li>
            </ul>
        </section>
        <section>
            <h3>What We Do with It:</h3>
            <ul>
                <li>Protect It: Like a dragon guarding its treasure.</li>
                <li>Use It: Sometimes, for not-so-exciting tech stuff.</li>
                <li>Share It: Only with those who help us, like our friendly neighborhood tech wizards. Surely no shady business here!</li>
            </ul>
        </section>
        <section>
            <h3>Your Choices:</h3>
            <ul>
                <li>Opt-Out: You can always just not sign up, but we'll miss you. Very much so.</li>
                <li>Control Cookies: You can disable cookies, but it's like saying no to dessert.</li>
            </ul>
        </section>
        <section>
            <h3>Security:</h3>
            <p>We use top-notch security measures, and by that I mean barely any security whatsoever. What are you expecting from me?</p>
            <h4>Changes to This Policy:</h4>
            <p>We might update this policy, because the internet is always changing, like a chameleon on a rainbow.</p>
            <p>By using our site, you agree to this wall of words. If you have questions, send a message in a bottle, we might be able to answer. Of course, we're here to help!</p>
        </section>
        <p>Now shoo from here!</p>