body {
    background-color: #F7F8F7;
    color: #383A36;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    width: 1200px;
    margin: auto;
}

h1, .content-title {
    margin: 30px 50px;
}

#logout, #edit, #delete {
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

#edit, #delete {
    padding: 15px 0;
}

.profile-container {
    display: flex;
    align-items: stretch;
}

.sidenav, .user-profile {
    flex-direction: column;
}

.sidenav {
    flex: 1;
    max-width: 160px;
}

.user-profile {
    flex: 2;
    align-items: center;
    border-radius: 18px;
    margin-top: 25px;
}

.sidenav {
    min-width: inherit;
    width: 160px;
    z-index: 1;
    border-radius: 15px;
    background-color: #C3E6DF;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #49655F;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.user-profile {
    padding: 0px 10px;
}

.attribute {
    float: left;
    text-align: left;
    margin-left: 4em;
    padding-left: 35px;
    width: 20%;
}

.value {
    float: right;
    text-align: right;  
    width: 49%;
    margin-right: 8em;
    padding-right: 10vh;
}

.sidenav h3 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -2px;
}

.create {
    width: 235px;
    margin: auto;
    margin-top: 15vh; 
    font-weight: bold;
    background-color: #BA8ECD;
    border-radius: 100px;
    text-align: center;
}

.create a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 25px 0; 
    text-decoration: none;
    color: whitesmoke;
    font-size: 22px;
}

.create:hover {
    background-color: #F14145;
}

footer {
    position: absolute;
    bottom: 0;
    width: 1200px;
    height: 2.5rem;
    margin-top: 15vh;
    border-top: #49655F solid 1px;
    font-size: 13px;
}

footer a {
    margin: 5px;
}

footer a, .info {
    margin-top: 25px;
}

.links {
    margin-top: 10px;
}

footer a:first-of-type, .info {
    padding-left: 15px;
}

footer a:last-of-type, .info {
    padding-right: 15px;
}
.info {
    border-top: #49655F solid 1px;
}